body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to left, #121b25, #07090f);
  color: #fff;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

h1 {
  font-size: 2vw; /* Ajuste relativo */
}

input {
  width: 90%; /* Ajuste relativo */
  padding: 2vw; /* Ajuste relativo */
  margin-bottom: 2vw; /* Ajuste relativo */
  border: none;
  border-radius: 5px;
  outline: none;
  background: rgba(255, 255, 255, 0.5);
  color: #fff;
}

input::placeholder {
  color: #ffffffA0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw;
  margin: 2vw 0; /* Ajuste relativo */
  border-radius: 5px;
}

span {
  cursor: pointer;
}

button {
  width: 90%; /* Ajuste relativo */
  padding: 2vw; /* Ajuste relativo */
  border: none;
  border-radius: 5px;
  background: #00cccccc;
  color: #fff;
  cursor: pointer;
  outline: none;
}

button:hover {
  background: #00cccc8c;
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5vw; /* Ajuste relativo */
  height: 25vw; /* Ajuste relativo */
  max-width: 90vw; /* Ajuste relativo */
  margin: 5vh auto; /* Ajuste relativo */
  border-radius: 10px;
  position: relative;
}

.c-izquierda {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 4vw; /* Ajuste relativo */
  margin: auto;
  box-shadow: 0 0 5px rgba(2, 204, 240, 0.774);
  max-width: 90vw; /* Ajuste relativo */
  border-radius: 10px;
  flex: 1;
}

.c-derecha {
  display: fixed;
  justify-content: center;
  align-items: center;
  max-width: 90vw; /* Ajuste relativo */
  border-radius: 10px;
  margin-left: 10vw;
  flex: 1;
  height: 25vw; /* Ajuste relativo */
  overflow-y: auto;
  max-height: calc(100vh - 10vw); /* Ajuste relativo */
}

.c-derecha p {
  min-width: 15vw; /* Ajuste relativo */
  margin-bottom: 2vw; /* Ajuste relativo */
  word-wrap: break-word;
  display: flex;
  align-items: center;
}

.contenedor-izquierdo,
.contenedor-derecho {
  margin-bottom: 5vw; /* Ajuste relativo */
}

.contenedor-izquierdo h1 {
  margin-bottom: 2vw; /* Ajuste relativo */
}

@media (min-width: 768px) {
  .contenedor {
    flex-direction: row;
    align-items: flex-start;
  }

  .contenedor-izquierdo {
    margin-right: 5vw; /* Ajuste relativo */
  }
}
