body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Montserrat',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 6px; /* Ancho del scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(2, 204, 240, 0.774); /* Color del thumb (barra deslizante) */
  border-radius: 10px; /* Bordes redondeados del thumb */
  
}

::-webkit-scrollbar-track {
  background: #00ffff41; /* Color del track (fondo del scrollbar) */
}