h1 {
    font-size: 2.5vw; /* Ajuste relativo */
    text-align: center;
    margin: 0;
    padding: 3vw; /* Ajuste relativo */
    font-weight: normal;
  }
  
  .TodoCounter span {
    font-weight: bold;
  }
  